{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div data-aos="fade-right"class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
        <img class="object-cover object-center rounded" alt="hero" src="{% static 'img/about-us-business.jpg' %}">
      </div>
      <div data-aos="fade-left" class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
          Building on a history of excellence
        </h1>
        <p class="mb-8 leading-relaxed">Heritage brings you the latest techological advances to meet your needs in audio/ video deliver, integration, presentation voice/ data cabling installation, troubleshooting and support. Since its founding in 1996, Heritage has constantly reinvented itself to embrace the latest technological advances to serve its customers' needs in business, education and financial sectors.</p>
        
      </div>
    </div>
  </section>
  <section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-4 md:flex-row flex-col align-top">
      <div data-aos="fade-right"class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
            Service and imagination are the cornerstones of our business. 
          </h1>
          <p class="mb-8 leading-relaxed">Our technical experts are continually searching for new products and technology to assist our customers with their business needs.</p>
          
      </div>
      <div data-aos="fade-left" class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
            We never lose sight of our most important objective. 
        </h1>
        <p class="mb-8 leading-relaxed">To meet the needs of our customer, today and tomorrow.</p>
        
      </div>
    </div>
  </section>
{% endblock %}