{% load static %}
<header class="sticky top-0 z-50 text-gray-600 body-font bg-white">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a href="{% url 'landing-page' %}" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <img src="{% static 'img/Heritage-logo-new.png' %}" width="240" height="150">
          <path d="M333.3,197.4H45.9c-8.2,0-14.8-6.6-14.8-14.8V18.2c0-8.2,6.6-14.8,14.8-14.8h287.4c8.2,0,14.8,6.6,14.8,14.8
          v164.4C348.1,190.8,341.5,197.4,333.3,197.4z"></path>
        </img>
        
      </a>
      <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
        <a href="{% url 'services' %}" class="mr-5 hover:text-gray-900">Services</a>
        <a href="{% url 'partners' %}" class="mr-5 hover:text-gray-900">Partners</a>
        <a href="{% url 'about-us' %}" class="mr-5 hover:text-gray-900">About Us</a>
      </nav>
      <a href="{% url 'contact-us' %}" class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Contact Us
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
    </div>
  </header>